In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
features = pd.read_csv("features.csv")
stores = pd.read_csv("stores.csv")

In [3]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [4]:
features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [5]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [25]:
test.Date = pd.to_datetime(test.Date)
test["week"] = test.Date.dt.week

In [6]:
temp = train.merge(stores, on="Store")
temp = temp.merge(features, on=["Store", "Date"]).drop("IsHoliday_y", axis=1)

In [7]:
temp.drop("Size", axis=1, inplace=True)
temp.drop("Temperature", axis=1, inplace=True)
temp.drop("Type", axis=1, inplace=True)
temp.fillna(0, inplace=True)

In [12]:
temp["Date"] = pd.to_datetime(temp.Date)
temp["week"] = temp.Date.dt.week

In [13]:
y = temp['Weekly_Sales']
x = temp.drop('Weekly_Sales', axis=1)

In [15]:
temp.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,week
0,1,1,2010-02-05,24924.50,False,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5
1,1,2,2010-02-05,50605.27,False,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5
2,1,3,2010-02-05,13740.12,False,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5
3,1,4,2010-02-05,39954.04,False,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5
4,1,5,2010-02-05,32229.38,False,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5

In [29]:
gb = temp.groupby(["Store", "Dept", "week"]).mean()["Weekly_Sales"]

In [41]:
test = test.join(gb, on=["Store", "Dept", "week"], rsuffix = "_means")

In [42]:
test["key"] = test.Store.map(str) + '_' + test.Dept.map(str) + '_' + test.Date.map(str)

test.head()

,Store,Dept,Date,IsHoliday,week,Weekly_Sales,key,Weekly_Salesmeans_,Weekly_Sales_means
0,1,1,2012-11-02,False,44,37062.470,1_1_2012-11-02 00:00:00,37062.470,37062.470
1,1,1,2012-11-09,False,45,19119.465,1_1_2012-11-09 00:00:00,19119.465,19119.465
2,1,1,2012-11-16,False,46,19301.750,1_1_2012-11-16 00:00:00,19301.750,19301.750
3,1,1,2012-11-23,True,47,19865.770,1_1_2012-11-23 00:00:00,19865.770,19865.770
4,1,1,2012-11-30,False,48,23905.525,1_1_2012-11-30 00:00:00,23905.525,23905.525

In [45]:
cols = ["Weekly_Salesmeans_", "Weekly_Sales_means"]

test["Weekly_Sales2"] = test[cols].mean(axis=1)

In [46]:
test

,Store,Dept,Date,IsHoliday,week,Weekly_Sales,key,Weekly_Salesmeans_,Weekly_Sales_means,Weekly_Sales2
0,1,1,2012-11-02,False,44,37062.470000,1_1_2012-11-02 00:00:00,37062.470000,37062.470000,37062.470000
1,1,1,2012-11-09,False,45,19119.465000,1_1_2012-11-09 00:00:00,19119.465000,19119.465000,19119.465000
2,1,1,2012-11-16,False,46,19301.750000,1_1_2012-11-16 00:00:00,19301.750000,19301.750000,19301.750000
3,1,1,2012-11-23,True,47,19865.770000,1_1_2012-11-23 00:00:00,19865.770000,19865.770000,19865.770000
4,1,1,2012-11-30,False,48,23905.525000,1_1_2012-11-30 00:00:00,23905.525000,23905.525000,23905.525000
5,1,1,2012-12-07,False,49,32401.785000,1_1_2012-12-07 00:00:00,32401.785000,32401.785000,32401.785000
6,1,1,2012-12-14,False,50,45342.945000,1_1_2012-12-14 00:00:00,45342.945000,45342.945000,45342.945000
7,1,1,2012-12-21,False,51,51359.990000,1_1_2012-12-21 00:00:00,51359.990000,51359.990000,51359.990000
8,1,1,2012-12-28,True,52,21237.730000,1_1_2012-12-28 00:00:00,21237.730000,21237.730000,21237.730000
9,1,1,2013-01-04,False,1,16275.965000,1_1_2013-01-04 00:00:00,16275.965000,16275.965000,16275.965000
10,1,1,2013-01-11,False,2,17127.050000,1_1_2013-01-11 00:00:00,17127.050000,17127.050000,17127.050000
11,1,1,2013-01-18,False,3,17853.285000,1_1_2013-01-18 00:00:00,17853.285000,17853.285000,17853.285000
12,1,1,2013-01-25,False,4,18419.670000,1_1_2013-01-25 00:00:00,18419.670000,18419.670000,18419.670000
13,1,1,2013-02-01,False,5,23366.916667,1_1_2013-02-01 00:00:00,23366.916667,23366.916667,23366.916667
14,1,1,2013-02-08,True,6,40305.050000,1_1_2013-02-08 00:00:00,40305.050000,40305.050000,40305.050000
15,1,1,2013-02-15,False,7,47500.506667,1_1_2013-02-15 00:00:00,47500.506667,47500.506667,47500.506667
16,1,1,2013-02-22,False,8,19630.530000,1_1_2013-02-22 00:00:00,19630.530000,19630.530000,19630.530000
17,1,1,2013-03-01,False,9,20756.180000,1_1_2013-03-01 00:00:00,20756.180000,20756.180000,20756.180000
18,1,1,2013-03-08,False,10,21154.620000,1_1_2013-03-08 00:00:00,21154.620000,21154.620000,21154.620000
19,1,1,2013-03-15,False,11,21612.583333,1_1_2013-03-15 00:00:00,21612.583333,21612.583333,21612.583333
20,1,1,2013-03-22,False,12,23072.670000,1_1_2013-03-22 00:00:00,23072.670000,23072.670000,23072.670000
21,1,1,2013-03-29,False,13,35536.460000,1_1_2013-03-29 00:00:00,35536.460000,35536.460000,35536.460000
22,1,1,2013-04-05,False,14,41475.606667,1_1_2013-04-05 00:00:00,41475.606667,41475.606667,41475.606667
23,1,1,2013-04-12,False,15,27014.513333,1_1_2013-04-12 00:00:00,27014.513333,27014.513333,27014.513333
24,1,1,2013-04-19,False,16,27877.283333,1_1_2013-04-19 00:00:00,27877.283333,27877.283333,27877.283333
25,1,1,2013-04-26,False,17,24805.033333,1_1_2013-04-26 00:00:00,24805.033333,24805.033333,24805.033333
26,1,1,2013-05-03,False,18,18233.190000,1_1_2013-05-03 00:00:00,18233.190000,18233.190000,18233.190000
27,1,1,2013-05-10,False,19,18108.696667,1_1_2013-05-10 00:00:00,18108.696667,18108.696667,18108.696667
28,1,1,2013-05-17,False,20,16142.536667,1_1_2013-05-17 00:00:00,16142.536667,16142.536667,16142.536667
29,1,1,2013-05-24,False,21,16095.193333,1_1_2013-05-24 00:00:00,16095.193333,16095.193333,16095.193333
...,...,...,...,...,...,...,...,...,...,...
115034,45,98,2013-01-04,False,1,410.630000,45_98_2013-01-04 00:00:00,410.630000,410.630000,410.630000
115035,45,98,2013-01-11,False,2,359.855000,45_98_2013-01-11 00:00:00,359.855000,359.855000,359.855000
115036,45,98,2013-01-18,False,3,425.420000,45_98_2013-01-18 00:00:00,425.420000,425.420000,425.420000
115037,45,98,2013-01-25,False,4,374.200000,45_98_2013-01-25 00:00:00,374.200000,374.200000,374.200000
115038,45,98,2013-02-01,False,5,392.330000,45_98_2013-02-01 00:00:00,392.330000,392.330000,392.330000
115039,45,98,2013-02-08,True,6,570.970000,45_98_2013-02-08 00:00:00,570.970000,570.970000,570.970000
115040,45,98,2013-02-15,False,7,485.160000,45_98_2013-02-15 00:00:00,485.160000,485.160000,485.160000
115041,45,98,2013-02-22,False,8,407.366667,45_98_2013-02-22 00:00:00,407.366667,407.366667,407.366667
115042,45,98,2013-03-01,False,9,625.886667,45_98_2013-03-01 00:00:00,625.886667,625.886667,625.886667
115043,45,98,2013-03-08,False,10,653.750000,45_98_2013-03-08 00:00:00,653.750000,653.750000,653.750000
115044,45,98,2013-03-15,False,11,488.940000,45_98_2013-03-15 00:00:00,488.940000,488.940000,488.940000
115045,45,98,2013-03-22,False,12,561.483333,45_98_2013-03-22 00:00:00,561.483333,561.483333,561.483333
115046,45,98,2013-03-29,False,13,616.236667,45_98_2013-03-29 00:00:00,616.236667,616.236667,616.236667
115047,45,98,2013-04-05,False,14,744.720000,45_98_2013-04-05 00:00:00,744.720000,744.720000,744.720000
115048,45,98,2013-04-12,False,15,549.273333,45_98_2013-04-12 00:00:00,549.273333,549.273333,549.273333
115049,45,98,2013-04-19,False,16,566.253333,45_98_2013-04-19 00:00:00,566.253333,566.253333,566.253333
115050,45,98,2013-04-26,False,17,744.075000,45_98_2013-04-26 00:00:00,744.075000,744.075000,744.075000
115051,45,98,2013-05-03,False,18,681.660000,45_98_2013-05-03 00:00:00,681.660000,681.660000,681.660000
115052,45,98,2013-05-10,False,19,832.035000,45_98_2013-05-10 00:00:00,832.035000,832.035000,832.035000
115053,45,98,2013-05-17,False,20,549.246667,45_98_2013-05-17 00:00:00,549.246667,549.246667,549.246667
115054,45,98,2013-05-24,False,21,754.143333,45_98_2013-05-24 00:00:00,754.143333,754.143333,754.143333
115055,45,98,2013-05-31,False,22,804.050000,45_98_2013-05-31 00:00:00,804.050000,804.050000,804.050000
115056,45,98,2013-06-07,False,23,571.926667,45_98_2013-06-07 00:00:00,571.926667,571.926667,571.926667
115057,45,98,2013-06-14,False,24,971.485000,45_98_2013-06-14 00:00:00,971.485000,971.485000,971.485000
115058,45,98,2013-06-21,False,25,460.660000,45_98_2013-06-21 00:00:00,460.660000,460.660000,460.660000
115059,45,98,2013-06-28,False,26,568.250000,45_98_2013-06-28 00:00:00,568.250000,568.250000,568.250000
115060,45,98,2013-07-05,False,27,840.795000,45_98_2013-07-05 00:00:00,840.795000,840.795000,840.795000
115061,45,98,2013-07-12,False,28,578.866667,45_98_2013-07-12 00:00:00,578.866667,578.866667,578.866667
115062,45,98,2013-07-19,False,29,489.426667,45_98_2013-07-19 00:00:00,489.426667,489.426667,489.426667
115063,45,98,2013-07-26,False,30,420.720000,45_98_2013-07-26 00:00:00,420.720000,420.720000,420.720000